<head>
  <title>{{ .Site.Title }}</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-dK0XVFTj0IlLd5Mz3JhpntwH0ztjB6a25QzVcCj6mVgs3g7BD1XcKEaz6cNddZnj" crossorigin="anonymous">

  {{ $style := resources.Get "main.scss" | toCSS | minify | fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $style.RelPermalink }}"
    integrity="{{ $style.Data.Integrity }}"
  />
  <script
    src="https://kit.fontawesome.com/be43f4c56d.js"
    crossorigin="anonymous"
  ></script>
</head>
