<div class="cv-skills">
  <h2 class="cv-sidebar-heading">Skills</h2>
  {{ range . }}
    <div class="cv-skills-section">
      <h3 class="cv-skills-section-title">{{ .title }}</h3>
      {{ range .entry }}
        <div class="cv-skills-entry">
          <p class="cv-skills-entry--name">{{ .name }}</p>
          <span class="cv-skills-entry--rating">
            {{ with .rating }}
              {{ $rating := . }}
              {{ range $i := (seq 1 5) }}
                {{ if (le $i $rating) }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" style="fill: rgb(51, 100, 167);">
                  <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/>
                </svg>
                
                {{ else }}
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="13" height="13" style="fill: rgb(51, 100, 167);">
                  <path d="M464 256A208 208 0 1 0 48 256a208 208 0 1 0 416 0zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256z"/>
                </svg>
                
                {{ end }}
              {{ end }}
            {{ end }}
            {{ with .value }}
              {{ . }}
            {{ end }}
          </span>
        </div>
      {{ end }}
    </div>
  {{ end }}
</div>
